services:
  api:
    build:
      context: ./app
      dockerfile: Dockerfile
      target: dev
    container_name: ${APP_NAME}
    command: npm run start:debug
    environment:
      RUN_MIGRATIONS: 'true'
      NODE_ENV: ${NODE_ENV}
      NODE_TLS_REJECT_UNAUTHORIZED: 0
      REDIS_HOST: redis
      REDIS_PORT: 6379
      REDIS_DB: 0
      REDIS_PREFIX: 'portal:'
      REDIS_PASSWORD: ${REDIS_PASSWORD}
    ports:
      - "${APP_PORT}:3000"
    volumes:
      - ./app:/usr/src/app
      - /usr/src/app/node_modules
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - dockernet

  db:
    image: postgres:15
    container_name: db
    restart: always
    environment:
      POSTGRES_USER: pguser
      POSTGRES_PASSWORD: pgpassword
      POSTGRES_DB: basedados
    ports:
      - "5433:5432"
    volumes:
      - ./db/pgdata:/var/lib/postgresql/data
      - ./db/init_scripts:/docker-entrypoint-initdb.d
    networks:
      - dockernet
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U pguser -d basedados"]
      interval: 5s
      timeout: 5s
      retries: 10

  redis:
    image: redis:7-alpine
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - ./redis/data:/data
    networks:
      - dockernet
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "${REDIS_PASSWORD}", "ping"]
      interval: 5s
      timeout: 5s
      retries: 10
    command: ["redis-server", "--appendonly", "yes", "--requirepass", "${REDIS_PASSWORD}"]

  redisinsight:
    image: redis/redisinsight:latest
    container_name: redisinsight
    restart: always
    ports:
      - "5540:5540"
    depends_on:
      - redis
    networks:
      - dockernet

  smtp4dev:
    container_name: smtp4dev
    image: rnwood/smtp4dev:v3
    ports:
      - "${SMTP4DEV_WEB_INTERFACE_PORT}:80"
    networks:
      - dockernet

networks:
  dockernet:
    name: "${APP_NAME}"
